
<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-sm">

    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">{{ title }}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/missions']" (click)="navbarCollapsed = true">Missions</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/profile']" (click)="navbarCollapsed = true">Profile</a>
        </li>
      </ul>
    </div>
</nav>